*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: gilroy;
color: white;
}
html,
body{
height: 100%;
width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main h1{
    letter-spacing: 20px;
    font-size: 200px;
    font-weight: 600;
}
#main #curser{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    transition: all linear 0.2s;
}
